html, body {
    height: 100%;
}

body {
	margin: 0;
	padding: 0;
	text-align: justify;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#contentDiv {
    height: 70%;
	padding: 20px;
}

#footer {
   left: 0;
   bottom: 0;
   width: 100%;
   height: 30%;
   text-align: center;
   padding-top: 20px;
}