html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: justify;
  font-family: Tahoma, Arial, Helvetica, sans-serif;  
  font-size: 12px;
  overflow: hidden;
}

#contentDiv {
  height: 100vh;
}

#contentDiv .block {
  height: 100vh;
}

#contentLeft {
  width: 70%;
  float: left;
  background-image: url("./img/veny_3x2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#image-overlay {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: auto;
  transition: .5s ease;
  opacity:0;
  color: white;  
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

#image-overlay p {
  margin: 0;
}

#image-overlay #overlay-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

#image-overlay #overlay-text {
  font-size: 10px;
}

#contentLeft:hover #image-overlay {
  opacity: 1;
}

#contentRight {
  width: 30%;
  height: 100vh;
  float: right;
  text-align: center;
}

#presentation {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#presentation h1 {
  color: #606060;
}

#presentation p {
  font-size: 14px;
}

.profiles {
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

#footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  clear: both;
}

#footer p {
  color: white;
}

@media screen and (max-width: 800px) {
  #contentLeft {
    width: 0%;
  }
  
  #contentRight, #footer {
    display: block;
    width: 100%;
  }
  
  #footer p {
    color: black;
  }
}